CarGame/Debug/CarGame.tlog/CL.command.1.tlog
CarGame/Debug/CarGame.log
CarGame/Debug/CarGame.tlog/CL.write.1.tlog
*.ipch
*.tlog
*.idb
*.enc
CarGame/Debug/CarGame_Debug.Build.CppClean.log
*.sdf
Carvatar.VC.opendb
*.iobj
